@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700';

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto Mono, sans-serif;
  padding: 120px;
}

#left {
  width: 200px;
  flex: auto;
  flex-grow: 1;
}

#right {
  flex: auto;
  flex-grow: 4;
}

.title h1 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 3em;
  margin-bottom: 15px;
}

.content {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 3em;
}

.nav {
  margin-bottom: 15px;
}

.nav a {
  color: rgba(48, 56, 68, 1);
}

.nav a:hover {
  color: rgba(0, 126, 229, 1);
}

a i {
  color: rgba(48, 56, 68, 1);
}

a i:hover {
  color: rgba(0, 126, 229, 1);
}

.icons {
  margin-top: 20px;
  font-size: 30px;
}

.paris {
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 1;
}

g.paris_back path {
  fill-opacity: 0;
  stroke: #acb0b7;
  stroke-width: 1;
}

@keyframes draw {
  /*from {
    stroke-dashoffset: 0;
  }*/
  to {
    stroke-dashoffset: 0;
  }
}

.paris path {
  stroke-linecap: round;
  /*stroke-dasharray: 200, 100;*/
  stroke-dasharray: 200, 200;
}

.paris g#route1 path {

  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 1000;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route2 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route3 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route4 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route5 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route6 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route7 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route8 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route9 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 1500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route10 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route11 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route12 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route13 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route14 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route15 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route16 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route17 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route18 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route19 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris g#route20 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.paris #route21 path {
  fill-opacity: inherit;
  stroke: inherit;
  stroke-width: inherit;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
